.App {
  text-align: center;
}

.header{
  color:darkred;
  background-color: rgb(123, 178, 180);
  padding: 5px;
  border-radius: 15px;
  text-align: center;
}

.heyusername{
  color:rgb(62, 193, 216);
  text-align: left;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.box{
  border:  1px solid black;
  height: 250px;
  width: 500px;
}

.chatbox{
  
  flex-direction: row;

}
.button:hover{
  
  
}


